/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  height: 110px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  border-bottom: 2px dashed #C0C0C0;
  margin-left: inherit;
  margin-right: inherit;
}
@media '@media (max-width: 500px)' {
  nav {
    background-color: red;
  }
}
nav h1 {
  width: 162px;
  font-size: 29pt;
  font-family: indie flower, "sans-serif";
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 30%;
  display: flex;
  white-space: nowrap;
  align-self: center;
}
nav a {
  display: flex;
  width: 7%;
  height: 100%;
  font-family: Roboto, "sans-serif";
  font-size: 11px;
  text-decoration: none;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
}
nav a:hover {
  color: white;
  background-color: black;
}
nav h2 {
  font-family: Roboto, "sans-serif";
}
nav h3 {
  width: 15%;
  height: 24px;
  font-family: roboto, "sans-serif";
  font-size: 14pt;
  margin-bottom: 2%;
}
footer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-left: 15%;
  margin-right: 27%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.container-home {
  display: flex;
  flex-flow: row wrap;
  max-width: 1500px;
  height: auto;
  justify-content: center;
  margin-left: 15%;
  margin-right: 27%;
}
@media '@media (max-width: 800px)' {
  .container-home {
    display: flex;
    flex-flow: column wrap;
    width: 800px;
  }
}
@media '@media (max-width: 500px)' {
  .container-home {
    display: flex;
    flex-flow: column wrap;
    width: 500px;
  }
}
.container-home header {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: left;
  margin-bottom: 1%;
  margin-left: inherit;
  margin-right: inherit;
  border-bottom: 2px dashed #C0C0C0;
}
.container-home h2 {
  width: 50%;
  height: 24px;
  font-family: indie flower, "sans-serif";
  font-size: 24pt;
  margin-bottom: 2%;
}
.container-home .fun-bus-img {
  width: 100%;
  height: 55%;
  margin-bottom: 1%;
}
.container-home p {
  font-family: roboto, "sans-serif";
  font-size: 13pt;
  line-height: 25px;
  margin-bottom: 1%;
}
.container-home .content-section {
  display: flex;
  flex-wrap: wrap;
  width: inherit;
  margin-left: inherit;
  margin-right: inherit;
  justify-content: left;
}
.container-home .content-section .text-content {
  width: 48%;
}
.container-home .content-section .img-content {
  width: 48%;
}
.container-home .content-section .img-content img {
  border-radius: 10px;
}
.container-home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
  height: 30%;
}
.container-home .inverse-content .text-content {
  padding-left: 1%;
}
.container-home .inverse-content .text-content h2 {
  white-space: nowrap;
  margin-bottom: 10%;
  width: 45%;
}
.container-home .inverse-content .text-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.container-home .content-destination {
  width: 55%;
  margin: 0 auto 30px;
}
.container-home .content-destination img {
  border-radius: 10px;
}
.container-home .content-destination p {
  width: inherit;
}
.container-home .content-pick {
  width: inherit;
  margin-left: 15%;
  margin-right: 27%;
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
}
.container-home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
.container-home .content-pick .destination .btn {
  height: 100px;
  width: 200px;
  background-color: #17A2B8;
}
