.container-home {
  display: flex;
  flex-flow: row wrap;
  width: 1500px;
  height: auto;
  justify-self: center;
  justify-content: center;
  margin-left: 15%;
  margin-right: 27%;

  header {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: left;
    margin-bottom: 1%;
    margin-left: inherit;
    margin-right: inherit;
    border-bottom: 2px dashed @silver;

    h2 {
      width: 50%;
      height: 24px;
      font-family: indie flower, "sans-serif";
      font-size: 24pt;
      margin-bottom: 2%;
    }

    .fun-bus-img {
      width: 100%;
      height: 55%;
      margin-bottom: 1%;
    }

    p {
      font-family: roboto, "sans-serif";
      font-size: 13pt;
      line-height: 25px;
      margin-bottom: 1%;
    }
  }

  .content-section {
    display: flex;
    flex-wrap: wrap;
    width: inherit;
    margin-left: inherit;
    margin-right: inherit;
    justify-content: left;

    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;
    height: 30%;

    .text-content {
      padding-left: 1%;

      h2 {
        white-space: nowrap;
        margin-bottom: 10%;
        width: 45%;
      }
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 55%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }

    p {
      width: inherit;
    }
  }

  .content-pick {
    width: inherit;
    margin-left: 15%;
    margin-right: 27%;
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 19%;
      margin-bottom: 30px;
    }
  }
}
