// Mixins in here


.page-set(@width, @height) {
display: flex;
flex-flow: row wrap;
box-sizing: border-box;
width: @width;
height: @height;
font-family: @font-stack;

} 

.debug-border() {
border: 1px solid blue;

&:hover {
border: 1px solid red;

}
}


