// Navigation Styles here

nav {
  height: 100px;
  width: inherit;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  border-bottom: 2px dashed @silver;
  margin-right: 12%;
  margin-left: 12%;


  h1 {

    width: 162px;
    font-size: 28pt;
    font-family: indie flower, "sans-serif";
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 45%;
    display: flex;
    white-space: nowrap;
    align-self: center;


  }

  a {
    display: flex;
    width: 30%;
    height: 100%;
    text-decoration: none;
    font-family: Roboto, "sans-serif";
    align-items: center;
    justify-content: flex-start;

    &:hover {
      color: white;
      background-color: black;
    }

    h2 {
      margin-top: 5%;
    }
  }
}
