// Navigation Styles here

nav {
  height: 110px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  border-bottom: 2px dashed @silver;
  margin-left: inherit;
  margin-right: inherit;

  @media @mobile {
background-color: red;


  }
  h1 {
    width: 162px;
    font-size: 29pt;
    font-family: indie flower, "sans-serif";
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 30%;
    display: flex;
    white-space: nowrap;
    align-self: center;
  }

  a {
    display: flex;
    width: 7%;
    height: 100%;
    font-family: Roboto, "sans-serif";
    font-size: 11px;
    text-decoration: none;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;

    &:hover {
      color: white;
      background-color: black;
    }
  }
  h2 {
    font-family: Roboto, "sans-serif";
  }

  h3 {
    width: 15%;
    height: 24px;
    font-family: roboto, "sans-serif";
    font-size: 14pt;
    margin-bottom: 2%;
  }
}
